ErrorDocument 404 /404.php

RewriteEngine on


RewriteRule ^Home$ index.php [NE,L]
RewriteRule ^Student-Login$ student_login.php [NE,L]
RewriteRule ^Student-Registration$ student_registration.php [NE,L]
RewriteRule ^Verify-Student$ student_verify_email.php [NE,L]
RewriteRule ^Teacher-Login$ teacher_login.php [NE,L]
RewriteRule ^Teacher-Dashboard$ teacher_dashboard.php [NE,L]
RewriteRule ^Logout$ logout.php [NE,L]
RewriteRule ^Create-Exam$ create_exam.php [NE,L]
RewriteRule ^Add-Audio$ add_audio.php [NE,L]
RewriteRule ^Add-Questions$ add_questions.php [NE,L]
RewriteRule ^Question-Set$ question_set.php [NE,L]
RewriteRule ^Add-Incomplete-Questions$ add_incomplete_questions.php [NE,L]



RewriteRule ^Insert$ insert.php [NE,L]